//COLORES

$olive: #606C38;
$darkgreen: #283618;
$darkpink: #f18b7f ;
$pink: #f2aea6;
$natural: #FEFAE0;
$lightblue:#55acee;
$blue:#3a5795;
$almostwhite: #f7f1f8;

//FUENTES

$fuentetitulo: 'Rockstyle';
$fuente: 'Roboto';


// MAP Footer 
$colors: (
 twitter: $lightblue,
 facebook: $blue,
 instagram: $almostwhite,
);

@mixin flex-row-center {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}
